Example/Pods/Manifest.lock
Example/UpnetixLocalizer.xcodeproj/xcshareddata/xcschemes/UpnetixLocalizerDemoSecondTarget.xcscheme
Example/Pods/Pods.xcodeproj/xcuserdata
Example/UpnetixLocalizer.xcworkspace/xcuserdata
