Example/Pods/Manifest.lock
Example/UpnetixLocalizer.xcodeproj/xcshareddata/xcschemes/UpnetixLocalizerDemoSecondTarget.xcscheme
Example/UpnetixLocalizer.xcworkspace/xcuserdata/andrey.ninikolov.xcuserdatad
Example/UpnetixLocalizer.xcodeproj/xcuserdata/nadezhda.xcuserdatad/xcschemes/xcschememanagement.plist
Example/UpnetixLocalizer.xcodeproj/xcuserdata/andrey.ninikolov.xcuserdatad/xcschemes/xcschememanagement.plist
Example/UpnetixLocalizer.xcodeproj/xcshareddata/xcschemes/UpnetixLocalizerDemoSecondTarget.xcscheme
Example/UpnetixLocalizer.xcodeproj/xcshareddata/xcschemes/UpnetixLocalizerDemo.xcscheme
Example/UpnetixLocalizer.xcodeproj/xcshareddata/xcschemes/UpnetixLocalizer-Example.xcscheme
Example/UpnetixLocalizer.xcworkspace/xcuserdata/andrey.ninikolov.xcuserdatad/UserInterfaceState.xcuserstate
Example/UpnetixLocalizer.xcworkspace/xcuserdata/andrey.ninikolov.xcuserdatad/UserInterfaceState.xcuserstate
Example/UpnetixLocalizer.xcworkspace/xcuserdata/andrey.ninikolov.xcuserdatad/UserInterfaceState.xcuserstate
Example/Pods/Pods.xcodeproj/xcuserdata/andrey.ninikolov.xcuserdatad/xcschemes/Flexx.xcscheme
Example/Pods/Pods.xcodeproj/xcuserdata/andrey.ninikolov.xcuserdatad/xcschemes/Pods-UpnetixLocalizerDemo.xcscheme
Example/Pods/Pods.xcodeproj/xcuserdata/nadezhda.xcuserdatad/xcschemes/Flexx.xcscheme
Example/Pods/Pods.xcodeproj/xcuserdata/nadezhda.xcuserdatad/xcschemes/Pods-UpnetixLocalizerDemo.xcscheme
