Example/Pods/Manifest.lock
Example/UpnetixLocalizer.xcodeproj/xcshareddata/xcschemes/
Example/UpnetixLocalizer.xcworkspace/xcuserdata/
Example/UpnetixLocalizer.xcodeproj/xcuserdata/
Example/Pods/Pods.xcodeproj/xcuserdata/
Example/UpnetixLocalizer.xcworkspace/xcuserdata/